//
//  MovieDatabaseAPKey.xcconfig
//  RealmTCAApp
//
//  Created by Privat on 25.10.23.
//

BEARER_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmMjBiMjlmZDZjYjgyZGZlNzdhYzMxMmFiOWQ3MzRmMyIsInN1YiI6IjY1MzQ0ODgwYzE0ZmVlMDBjNmVkYjgyMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.FYNFnXx1jdXRYd_ULNRwc0Epur85I_shNzl7fC6Rh-s
